.header {
  background: $color1;
  margin-bottom: $l-size + 0.5;
  padding: $m-size + 0.2 0;
  color: $white;
  text-align: center;
}

.header__title {
  font-size: $l-size;
  padding: $sm-size 0;
  margin-bottom: 0rem;
}

.header__subtitle {
  font-size: $m-size + 0.15;
  margin-bottom: 0rem;
  color: $off-white;
}

@media (max-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $m-size + 0.5;
  }
}
