$color1: #242731;
$color2: #3c4358;
$color3: #7347b6;
$darken-color2: darken($color2, 5%);
$lighten-color2: lighten($color2, 5%);
$white: #ffffff;
$off-white: #b2b2b2;

$sm-size: 0.8rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;
